<!DOCTYPE html>
<html>
<head>
	<title>Pluck Demo - Pluck Demo</title> 
  <%= csrf_meta_tag %>
</head>
	<body>
	<div id="menuheader">

		<div id="menu">
			<div class="menuitem">
				<span>
					<img src="/image/menu/start.png" border="0" alt="" />
					<a href="?action=start" title="start">start</a>
				</span>
			</div>
			<div class="menuitem">

				<span>
					<img src="/image/menu/pages.png" border="0" alt="" />
					<a href="?action=page" title="pages">pages</a>
				</span>
			</div>
			<div class="menuitem">
				<span>
					<img src="/image/menu/modules.png" border="0" alt="" />

					<a href="?action=modules" title="modules">modules</a>
				</span>
			</div>
			<div class="menuitem">
				<span>
					<img src="/image/menu/options.png" border="0" alt="" />
					<a href="?action=options" title="options">options</a>
				</span>

			</div>
			<div class="menuitem">
				<span>
					<img src="/image/menu/logout.png" border="0" alt="" />
					<a href="?action=logout" title="log out">log out</a>
				</span>
			</div>
		</div>

		<h1>pluck</h1>
		<div id="statusbox">
			<div>
		<a href="?action=trashcan"><img src="/image/trash.png" alt="trashcan" title="trashcan" /></a>
		0 items in trashcan</div>
			<div>
		<img src="/image/update-no.png" alt="" />
		pluck is up-to-date</div>

		</div>
	</div>

	<div id="text">
	<h2>start</h2><p><strong>Welcome to the administration center of pluck.</strong><br />Here you can manage your website. Choose a link in the menu at the top of your screen.</p>

	<span class="kop2">more...</span>
		<div class="menudiv">
			<span>
			<a href="/"  target="_blank"><img src="/image/website.png" alt="" /></a>

			</span>
			<span>
				<span>
					<a href="/" target="_blank">take a look at your website</a>
				</span>
							<br />
				take a look at the result		</span>
		</div>

		<div class="menudiv">
			<span>
			<a href="?action=credits" ><img src="/image/credits.png" alt="" /></a>
			</span>
			<span>
				<span>
					<a href="?action=credits" >credits</a>
				</span>

							<br />
				all the people who helped develop pluck		</span>
		</div>
		<div class="menudiv">
			<span>
			<a href="http://www.pluck-cms.org/help.php"  target="_blank"><img src="/image/hulp.png" alt="" /></a>
			</span>
			<span>

				<span>
					<a href="http://www.pluck-cms.org/help.php" target="_blank">need help?</a>
				</span>
							<br />
				we'd love to help you		</span>
		</div>
	<div id="somp">pluck &copy; 2005-2010 <a href="http://www.pluck-cms.org" target="_blank">pluck project</a>. pluck is available under the terms of the GNU General Public License.</div>

	</div>
	</body>
</html>
