<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"> 
<head> 
<title>Ruckus administration center - start</title> 
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" /> 
<link href="/stylesheets/styleadmin.css" rel="stylesheet" type="text/css" media="screen" /><meta name="robots" content="noindex" /> 
</head> 
<body> 
 
<div id="menuheader"> 
	<div id="menu"> 
		<div class="menuitem"> 
			<span> 
				<img src="/images/menu/start.png" border="0" alt="" /> 
				<a href="?action=start" title="start">start</a> 
			</span> 
		</div> 
		<div class="menuitem"> 
			<span> 
				<img src="/images/menu/pages.png" border="0" alt="" /> 
				<a href="?action=page" title="pages">pages</a> 
			</span> 
		</div> 
		<div class="menuitem"> 
			<span> 
				<img src="/images/menu/modules.png" border="0" alt="" /> 
				<a href="?action=modules" title="modules">modules</a> 
			</span> 
		</div> 
		<div class="menuitem"> 
			<span> 
				<img src="/images/menu/options.png" border="0" alt="" /> 
				<a href="?action=options" title="options">options</a> 
			</span> 
		</div> 
		<div class="menuitem"> 
			<span> 
				<img src="/images/menu/logout.png" border="0" alt="" /> 
				<a href="?action=logout" title="log out">log out</a> 
			</span> 
		</div> 
	</div> 
	<h1>pluck</h1> 
	<div id="statusbox"> 
		<div> 
	<a href="?action=trashcan"><img src="/images/trash.png" alt="trashcan" title="trashcan" /></a> 
	0 items in trashcan</div> 
		<div> 
	<img src="/images/update-no.png" alt="" /> 
	pluck is up-to-date</div> 
	</div> 
</div> 
 
<div id="text"> 
<h2>start</h2><p><strong>Welcome to the administration center of pluck.</strong><br />Here you can manage your website. Choose a link in the menu at the top of your screen.</p> 
 
<span class="kop2">more...</span> 
	<div class="menudiv"> 
		<span> 
		<a href="index.php"  target="_blank"><img src="/images/website.png" alt="" /></a> 
		</span> 
		<span> 
			<span> 
				<a href="index.php" target="_blank">take a look at your website</a> 
			</span> 
						<br /> 
			take a look at the result		</span> 
	</div> 
	<div class="menudiv"> 
		<span> 
		<a href="?action=credits" ><img src="/images/credits.png" alt="" /></a> 
		</span> 
		<span> 
			<span> 
				<a href="?action=credits" >credits</a> 
			</span> 
						<br /> 
			all the people who helped develop pluck		</span> 
	</div> 
	<div class="menudiv"> 
		<span> 
		<a href="http://www.pluck-cms.org/help.php"  target="_blank"><img src="/images/hulp.png" alt="" /></a> 
		</span> 
		<span> 
			<span> 
				<a href="http://www.pluck-cms.org/help.php" target="_blank">need help?</a> 
			</span> 
						<br /> 
			we'd love to help you		</span> 
	</div> 
<div id="somp">pluck &copy; 2005-2010 <a href="http://www.pluck-cms.org" target="_blank">pluck project</a>. pluck is available under the terms of the GNU General Public License.</div> 
</div> 
</body> 
</html>